{% extends 'account/account_base.html' %}
{% load static %}

{% block aside_list_li %}
    <li class="mt">
    <a class="active" href="index.html">
      <i class="fa fa-dashboard"></i>
      <span>Dashboard</span>
      </a>
    </li>
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-desktop"></i>-->
<!--      <span>Previous Assessment</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-cogs"></i>-->
<!--      <span>Report</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-book"></i>-->
<!--      <span>Results</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-tasks"></i>-->
<!--      <span>Information</span>-->
<!--      </a>-->
<!--    </li>-->
{% endblock %}


{% block body_section_section %}
<section class="wrapper">
<h1>Admin</h1>

</section>
{% endblock %}
