{% extends 'account/account_base.html' %}
{% load static %}
{% load process_general_lecturers_result %}

{% block aside_list_li %}
    <li class="mt">
    <a class="active" href="index.html">
      <i class="fa fa-dashboard"></i>
      <span>Dashboard</span>
      </a>
    </li>
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-desktop"></i>-->
<!--      <span>Previous Assessment</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-cogs"></i>-->
<!--      <span>Report</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-book"></i>-->
<!--      <span>Results</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-tasks"></i>-->
<!--      <span>Information</span>-->
<!--      </a>-->
<!--    </li>-->
{% endblock %}


{% block body_section_section %}
<section class="wrapper">
    <div>
        <h3 class="bold mb-5">Faculties and Departments</h3>
        <hr>
        <div>
            {% for faculty in faculties %}
                <h4 class="font-weight-bold text-primary">{{ faculty.name.upper }} <span class="text-dark">(Courses)</span></h4>

                <ul>
                    {% for department in faculty.departments.all %}
                    <li class="mb-120">
                        <h3 class="font-weight-bold text-dark" style="caption-side: top">{{ department.name.title }}</h3>
                        <div>
                          <canvas id="myChart{{department.id}}/{{forloop.counter}}"></canvas>
                        </div>

                        <script>
                            var ctx = document.getElementById('myChart{{department.id}}/{{forloop.counter}}');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                    labels: [{% for course in department.department_courses.all %}{% for lecturer in course.lecturer.all %}'{{lecturer.first_name}}',{% endfor %}{% endfor %}],
                                    datasets: [{
                                        label: 'Level of performance (Percentage)',
                                        // data: [12, 19, 3, 5, 2, 3],
                                        data: [{% for course in department.department_courses.all %}{% for lecturer in course.lecturer.all %} {% get_lecturer_performance_num course lecturer request.user.profile.department.faculty.current_semester.first %},{% endfor %}{% endfor %}],
                                        backgroundColor: [
                                            'rgba(0,123,255,0.69)'
                                        ],
                                        borderColor: [
                                            '#007BFF'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>

                        <table class="table table-hover table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Course Title</th>
                              <th scope="col">Course Code</th>
                              <th scope="col">Semester</th>
                              <th scope="col">Overall Performance</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for course in department.department_courses.all %}
                          {% for lecturer in course.lecturer.all %}
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{lecturer.first_name.title}} {{lecturer.last_name.title}}</td>
                              <td>{{course.title.title}}</td>
                              <td>{{course.code.upper}}</td>
                              <td>{{ request.user.profile.department.faculty.current_semester.first }}</td>
                              <td id="{{course.id}}/{{lecturer.id}}" class="overall_performance_container">{% get_lecturer_performance course lecturer request.user.profile.department.faculty.current_semester.first %}</td>
                              <td><a id="btn_after_overall_performance{{course.id}}/{{lecturer.id}}" class="btn btn-primary" href="{% url 'assessment:lecturer_result_view' course.id request.user.profile.department.faculty.current_semester.first.id lecturer.id %}">View Detail</a></td>
                            </tr>
                          {% endfor %}
                          {% endfor %}
                          </tbody>
                        </table>
                    </li>
                    {% endfor %}
                </ul>

            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
