{% extends 'account/account_base.html' %}
{% load static %}

{% block aside_list_li %}
    <li class="mt">
    <a class="active" href="{% url 'account:home' %}">
      <i class="fa fa-dashboard"></i>
      <span>Dashboard</span>
      </a>
    </li>
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-desktop"></i>-->
<!--      <span>Previous Assessment</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-cogs"></i>-->
<!--      <span>Report</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-book"></i>-->
<!--      <span>Results</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-tasks"></i>-->
<!--      <span>Information</span>-->
<!--      </a>-->
<!--    </li>-->
{% endblock %}


{% block body_section_section %}
<section class="wrapper">
<h3 class="font-weight-bold">STAFF DASHBOARD</h3>
<div class="row">
  <div class="col-lg-9 main-chart">
    {% if request.user.is_staff %}
    <div class="border-head">
      <h3>Courses</h3>
    </div>

    <div class="overflow-hidden clear">
      <div class="">
        <div class="row">
          {% for course in courses %}
          <center>
          <div class="col-sm-2">
            <div class="card p-2" style="width: 18rem;">
              <img src="{% if course.lecturer.profile.profile_photo %}{{ course.lecturer.profile.profile_photo.url }}{% else %}{% static 'img/default_profile_img.svg' %}{% endif %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title font-weight-bold">{{ course.code }}</h4>
                <p class="card-text">{{course.title}}</p>
                <a class="btn btn-dark text-white" href="{% url 'assessment:lecturer_result_view' course.id request.user.profile.department.faculty.current_semester.first.id %}">View Result</a>
              </div>
            </div>
          </div>
            </center>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!-- /col-lg-9 END SECTION MIDDLE -->

  <div class="card-body border-top mt-5 overflow-hidden w-75">
  <h3>Student Comments</h3>
    <table>
      <tr>
        <td>Message</td>
        <td>Time</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>How far!</td>
        <td>Sat Apr 24 15:12</td>
        <td><a href="" class="btn btn-danger ml-3">Delete</a></td>
      </tr>
    </table>
  </div>
</div>


</div>
</section>
{% endblock %}
