{% extends 'account/account_base.html' %}
{% load static %}

{% block aside_list_li %}
    <li class="mt">
    <a class="active" href="{% url 'account:home' %}">
      <i class="fa fa-dashboard"></i>
      <span>Dashboard</span>
      </a>
    </li>
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-desktop"></i>-->
<!--      <span>Previous Assessment</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-cogs"></i>-->
<!--      <span>Report</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-book"></i>-->
<!--      <span>Results</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="sub-menu">-->
<!--    <a href="javascript:;">-->
<!--      <i class="fa fa-tasks"></i>-->
<!--      <span>Information</span>-->
<!--      </a>-->
<!--    </li>-->
{% endblock %}


{% block body_section_section %}
<section class="wrapper">
<h3 class="font-weight-bold">STUDENT DASHBOARD</h3>
<div class="row">
  <div class="col-lg-9 main-chart">
    {% if not request.user.is_staff %}
    <div class="border-head">
      <h3>Lecturers</h3>
    </div>

    <div class="overflow-hidden clear">
      <div class="container">
        <div class="row">
          {% for course in courses %}
          <div class="mr-3">
            <div class="card p-2" style="width: 18rem;">
              <img src="{% if course.lecturer.profile.profile_photo %}{{ course.lecturer.profile.profile_photo.url }}{% else %}{% static 'img/default_profile_img.svg' %}{% endif %}" height="120px" width="120px" class="card-img-top" alt="...">
              <div class="card-body">
                <center>
                <h5 class="card-title font-weight-bold">{{ course.lecturer.first_name }} {{ course.lecturer.last_name }}</h5>
                <p class="">{{course.title}}</p>
                <small class="d-block mb-1">{{course.code}} <span class="text-success">{% if course in assessed_courses %}(Evaluated){% endif %}</span></small>
                <a href="{% url 'assessment:evaluate' course.lecturer.id course.id request.user.profile.department.faculty.current_semester.first.id %}" class="btn btn-dark {% if course in assessed_courses %}disabled{% endif %} text-white">Evaluate</a>
                </center>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
      {% if request.user.extra_courses %}
      <div class="mt-5">
        <div class="border-head">
          <h3>Extra Courses ({{request.user.extra_courses.courses.count}})</h3>
        </div>
        {% with courses=request.user.extra_courses %}
        {% for course in courses.courses.all %}
          <div class="mr-3">
            <div class="card p-2" style="width: 18rem;">
              <img src="{% if course.lecturer.profile.profile_photo %}{{ course.lecturer.profile.profile_photo.url }}{% else %}{% static 'img/default_profile_img.svg' %}{% endif %}" height="120px" width="120px" class="card-img-top" alt="...">
              <div class="card-body">
                <center>
                <h5 class="card-title font-weight-bold">{{ course.lecturer.first_name }} {{ course.lecturer.last_name }}</h5>
                <p class="">{{ course.title }}</p>
                <small class="d-block mb-1">{{course.code}} <span class="text-success">{% if course in assessed_courses %}(Evaluated){% endif %}</span></small>
                <a href="{% url 'assessment:evaluate' course.lecturer.id course.id request.user.profile.department.faculty.current_semester.first.id %}" class="btn btn-dark {% if course in assessed_courses %}disabled{% endif %} text-white">Evaluate</a>
                </center>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endwith %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <!-- /col-lg-9 END SECTION MIDDLE -->
</div>
</section>
{% endblock %}