{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<style>{% include 'account/dashboard-styles.html' %}</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block base_content %}

<section id="container">
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{{.}}" class="logo"><b>FUT<span>Mx</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'account:logout' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->


    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <img src="{% static 'img/default_profile_img.svg' %}" class="ml-2 p-1 img-circle" width="35" height="35">
          <h5 class="centered d-inline mt-1">{{ request.user.username.title}}</h5>
          {% block aside_list_li %}
          {% endblock %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->


    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      {% block body_section_section %}
      {% endblock %}
    </section>
    <!--main content end-->

</section>

{% endblock %}
