{% extends 'base.html' %}
{% load static %}

{% block extra_style %}
<style>{% include 'account/dashboard-styles.html' %}</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block base_content %}

<section id="container">
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{{.}}" class="logo"><b>FUT<span>Mx</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'account:logout' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->


    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="{{ request.user.profile.profile_photo.url }}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{ request.user.username.title}}</h5>
          <li class="mt">
            <a class="active" href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Previous Assessment</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-cogs"></i>
              <span>Report</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>Results</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Information</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->


    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        kkk
        <div class="row">
          <div class="col-lg-9 main-chart">
            {% if request.user.is_staff %}
            <div class="border-head">
              <h3>Lecturers</h3>
            </div>

            <div class="overflow-hidden clear">
              <div class="container">
                <div class="row">
                  {% for course in courses %}
                  <div class="col-sm-2">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ course.lecturer.profile.profile_photo.url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title font-weight-bold">{{ course.lecturer.first_name }} {{ course.lecturer.last_name }}</h4>
                        <p class="card-text">{{course.title}}</p>
                        <a class="btn btn-dark text-white">Evaluate</a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
        </div>
      </section>
    </section>
    <!--main content end-->

</section>

{% endblock %}
