{% load static %}

<!--<!doctype html>-->
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if html_title %} {{ html_title }} {% else %} {% block html_title %} {% endblock %} {% endif %}</title>

    <!--    styles-->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<!--    <link href="/static/taggit_selectize/css/selectize.django.css" type="text/css" media="all" rel="stylesheet"/>-->

    <!--    scripts-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ajax/popper.min.js' %}"></script>
<!--    <script type="text/javascript" src="/static/taggit_selectize/js/selectize.js"></script>-->
    {% block extra_style %}
    {% endblock %}
</head>


<body>
{% block base_content %}
{% endblock %}
</body>
</html>
